<div ng-app="contactsApp">
  <div>
    <h4>Upload File</h4>
    <%= form_tag({action: :create}, multipart: true) do %>
      <%= file_field_tag 'file' %>
      <span><%= submit_tag 'Upload File' %></span>
    <% end %>
  </div>
  <div ng-controller="contactsCtrl" ng-init="setup()">
    <div>
      <button ng-click="filterEmailToggle('.com')">Show only .com Email</button>
      <button ng-click="filterPhoneToggle('x')">Show Phone with Extension</button>
      <span>Filter Phone Numbers<input ng-model="contactFilter.phone_number"></span>
    </div>
    <table class="table">
      <tr>
        <th ng-click="">First Name
          <button ng-click="toggleByAttribute('first_name')">Sort</button>
        </th>
        <th ng-click="">Last Name
          <button ng-click="toggleByAttribute('last_name')">Sort</button>
        </th>
        <th ng-click="">Email
          <button ng-click="toggleByAttribute('email_address')">Sort</button>
        </th>
        <th ng-click="">Phone Number</th>
        <th ng-click="">Company</th>
        <th ng-click="">Contact ID</th>
      </tr>
      <tr ng-repeat="contact in contacts | filter: contactFilter | orderBy:orderAttribute:descending">
        <td>{{contact.first_name}}</td>
        <td>{{contact.last_name}}</td>
        <td>{{contact.email_address}}</td>
        <td>{{contact.phone_number}}</td>
        <td>{{contact.company}}</td>
        <td>{{contact.id}}</td>
        <td><button ng-click="deleteContact(contact)">Delete Contact</button></td>
      </tr>
    </table>
    
  </div>
</div>